/* Title on viewable site */
.brand-icon {
	font-size: 24px;
}

.bg {
	background-image: url("https://i.ibb.co/VStp4Xk/brooklyntransparent.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.header-date {
	font-size: 21px;
}

/* Setting images on info page to be certain sizes so they're even */
img {
	object-fit: cover;
	max-height: 450px;
}

/* Test in columns on home page When, Where, Why headings */
.detail-heading {
	font-size: 19px;
}

 /* Pre-reg button on info page */
.reg-btn {
	size: 50%;
}

/* Styling on homepage event details */
#ed-main {
	background-color: rgba(108, 117, 125, .5);
	font-size: 18px;
	font-weight: bold;
}

#ed-1 {
	margin-right: 5px;
	background-color: rgba(108, 117, 125, .5);
}

#ed-2 {
	margin-right: 5px;
	margin-left: 5px;
	background-color: rgba(108, 117, 125, .5);
}

#ed-3 {
	margin-left: 5px;
	background-color: rgba(108, 117, 125, .5);
}